# Copy this file to .env and populate with your values
DATABASE_URL=postgresql+asyncpg://postgres:3%40%7CDh%7DL3%228%5Ey%3B%25Rc@34.95.152.162:5432/rpa
RABBITMQ_URL=amqps://wnhsexac:wa-neOo-CGZv4VLBLc6eNOwza4uN55cB@porpoise.rmq.cloudamqp.com/wnhsexac
POSTGRES_USER=rpa_user
POSTGRES_PASSWORD=rpa_pass
POSTGRES_DB=rpa_db
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
